<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" href="../images/logo_wnb.ico">
    <link rel="stylesheet" href="../style/loading.css">
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tomik23/autocomplete@1.7.1/dist/css/autocomplete.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/navbarStyle.css">
    <link rel="stylesheet" href="../style/home.css">
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

</head>
<body>
  <!--- LOADING SPINNER - > css - @loading.css - javascript @ONLOAD JS FUNCTION --->
    <div id="loading">
        <img id="loading-image" src="../images/spinner.png" alt="Loading..." />
        loading <span>.</span><span>.</span><span>.</span>
    </div>


  <!--- NAVBAR - > css - @navbarStyle.css--->
  <nav class="navbar  fixed-top">
        <div class="container-fluid">
            <div class="cf">
          <a class="navbar-brand" href="#">
              <img id="logo_navbar" src="../images/logo.svg">
          </a>

            <img src="../images/navbar_toggler_0.svg" class="navbar_toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" alt="">
            </div>

          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
           <img src="../images/navbar_toggler_1.svg" class="navbar_toggler" data-bs-dismiss="offcanvas" aria-label="Close" alt="">
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li >
                  <label>Location</label>
                  <br>
                    <div class="auto-search-wrapper loupe">
                        <input id="location_input" type="search" autocomplete="off">
                    </div>
                </li>
                <li >
                 <label >Select radius: <span id="radius"></span></label>
                 <br>


<!--                 <div class="field_to_be_dragged">-->
<!--                   <img src="../images/draggable_object.png">-->
<!--                 </div>-->
<!--                 <div class="radius_selection_draggable">-->
<!--                </div>-->

                    <div class="range">
                        <div class="sliderValue">
                            <span id="sspan"></span>
                        </div>
                        <div class="field">
                            <div class="value left">0</div>
                            <input id="iinput" type="range" min="0" max="150" value="10" step="1">
                            <div class="value right">150</div>

                        </div>
                    </div>

                </li>
                <li id="languages_list">
                  <label id="language">Language</label>
                  <div class="languages">
                    <div class="english_language">EN</div>
<!--                  <div class="german_language">DE</div>-->
<!--                  <div class="french_language">FR</div>-->
<!--                  <div class="italian_language">IT</div>-->
                  </div>
                </li>
                <li>
                  <button id="emergency_call">Emergency call</button>
                </li>
                <li>
                  <button id="saved_places">Saved places</button>
                </li>
              </ul>
              <button id="done" data-bs-dismiss="offcanvas" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="getPosition()">Done</button>
            </div>
          </div>
        </div>
  </nav>



  <!--- MAIN SECTION (MAP , BUTTONS) -> css - (@global.css,@home.css) --->
  <section id="main">

      <div id="map">
      </div>


      <div id="buttons_and_search">

          <div id="search">
              <div class="searchInputButton">
                  <input autocomplete="off" type="search" placeholder="Hospital name..."  id="search_input">
                  <!-- <button>Search</button> -->
              </div>
              <ul id="auto_suggestions" class="none"></ul>
          </div>
          <!--          type="submit"> <a href="http://127.0.0.1:8080/hospitals"-->
          <button class="ibuttons" id="find_nearest_hospital" onclick="showNearestHospitals()" >Find nearest hospitals</a></button>
          <button class="ibuttons" id="find_nearest_hospital_)" onclick="showNearestHospitals('all')" >List hospitals</a></button>
          <button  class="ibuttons" id="options" type="menu"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">Options</button>

      </div>


      <div class="hospital_list none">
          <div class="buttons_hospital_list">
              <button onclick="hideNearestHospitals()">Home</button>
              <div  class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Sort hospitals
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><button class="dropdown-item" onclick="sort('rating' , 'ascending')">By rating - Ascending</button></li>
                      <li><button  class="dropdown-item" onclick="sort('rating' , 'descending')">By rating - Descending</button></li>
                      <li><button  class="dropdown-item" onclick="sort('proximity' , 'ascending')">By proximity - Ascending</button></li>
                      <li><button  class="dropdown-item" onclick="sort('proximity' , 'descending')">By proximity - Descending</button></li>
                  </ul>
              </div>
          </div>
          <ul id="hospital_list">


          </ul>
          <div class="manipulation">
              <button onclick="updateListOfHospitals('back')">Back</button>
              <button onclick="updateListOfHospitals()">More</button>
          </div>
      </div>
  </section>



 <!--- MODAL css - > @global.css--->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal_body">
        Your informations are saved
      </div>
      <div class="modal-footer">
        <button id="modal_button"  data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
  </div>



  <footer>
      <a href="/privacyPolicy">Privacy policy</a>
  </footer>

<!--- ONLOAD JS FUNCTION --->
    <script>
    window.onload = function(){
     setTimeout(()=> {
        document.getElementById("loading").style.display = "none" ;
     }, 1200)}
    </script>

<!--- BOOTSTRAP CDN --->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!--- LEAFLET JS CDN --->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<!--- LEAFLET JS - javascript -> @lefleat-map-manipultion.js --->
    <script src="../javascript/lefleat-map-manipultion.js"></script>


  <!-- NAVBAR -->
    <script src="../javascript/navbar.js"></script>

  <!-- AXIOS JS CDN -->
    <script src="../javascript/node_modules/axios/dist/axios.js"></script>


  <!--SEARCH LOCATION CDN-->
  <script src="https://cdn.jsdelivr.net/gh/tomik23/autocomplete@1.7.1/dist/js/autocomplete.min.js"></script>

  <script src="./github-corner.js"></script>

  <!-- SCRIPT THAT HAS THE JS CODE FOR THIS HTML -->
 <script src="../javascript/home.js"></script>


</body>
</html>