@keyframes showSmoothly
{
    0% {
        opacity: 0;
    }

    5%
    {
        opacity:0.1;
    }

    25%
    {
        opacity:0.25;
    }

    50%
    {
        opacity:0.5;
    }


    75%
    {
        opacity:0.75;
    }
    85%
    {
        opacity:0.85;
    }

    99%
    {
        opacity: 0.99;
    }
}



.main
{

    margin-top: 8vh;
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*need to be changed with 4fr 5fr when nearest hospitals list is used */
    grid-template-rows: 2fr 1fr;
}


#map
{
    animation:0.5s showSmoothly ease-in;
    grid-row: 1;
    grid-column: 1/2;
    width: 100vw;
    height:50vh;
}

.hospital
{
    animation: 0.6s showSmoothly ease-in;
    grid-column: 1/2;
    grid-row: 2;
    height: 42vh;
    background-color:#599191;
}


.hospitalInfos
{
    width: 100vw;
    margin: 1vh 0;

}

.hospitalInfos > *
{
    border-bottom: 0.2vh solid #31394D;
    height: 5.5vh;
    margin: 1vh 0;
    padding: 0 5vw;
    color: white;
    display: flex;
    justify-content:space-between

}

.hospitalInfos > * > span{
    width: 70vw;
    font-size: 12px;
    height: 3vh;
    border-left: 5px solid #31394D;
    padding-left: 2vw;
}
.showRoute
{
    width: 100vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showRoute
{
    width: 40vw;
    height: 4vh;
    border-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navigation_buttons
{

    height: 10.8vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.navigation_buttons > div{
    background-color: #31394D;
    height: 6vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navigation_buttons > div > img ,
.navigation_buttons > div > a >img
{
    height: 3vh;
    width: 3vh;
}










.rate
{
    border-top-left-radius: 10px;
    margin-right: -1px;
    animation: 0.8s showSmoothly ease-in;
}

.home
{
    border-bottom-right-radius: 10px;
    margin-left: -1px;
    animation: 0.9s showSmoothly ease-in;
}

#ratingSection
{
    padding: 10vh 7vw ;
    width: 100vw;
    height: 100vh;
    background-color: #31394D;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    position: relative;
    width: 90vw;
    height: 80vh;
    background-color: #599191;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .post{
    display: none;
}
.container .text{
    font-size: 15px;
    color: white;
    font-weight: 500;
}
.container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #31394D;
    font-weight: 500;
    cursor: pointer;
}
.container .edit:hover{
    text-decoration: underline;
}
.container .star-widget input{
    display: none;
}
.star-widget label{
    font-size: 7vw;
    color: rgb(255, 255, 255);
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: rgba(255, 255, 255, 0.469);
}
input:checked ~ label{
    color: #31394de3;
}
input#rate-5:checked ~ label{
    color: #31394D;
    text-shadow: 0 0 20px rgb(255, 255, 255);
}
#rate-1:checked ~ form header:before{
    content: "1 ";
}
#rate-2:checked ~ form header:before{
    content: "2 ";
}
#rate-3:checked ~ form header:before{
    content: "3 ";
}
#rate-4:checked ~ form header:before{
    content: "4 ";
}
#rate-5:checked ~ form header:before{
    content: "5 ";
}
.container form{
    display: none;
}
input:checked ~ form{
    display: block;
}
form header{
    width: 100%;
    display: block;
    font-size: 25px;
    color: white;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}
form .textarea{
    height: 30vh;
    width: 100%;
    overflow: hidden;
}
form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    background: white;
    color:#599191;
    padding: 10px;
    font-size: 17px;
    resize: none;
}
.textarea textarea:focus{
    border-color: #444;
}
form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
}
form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
form .btn button:hover{
    background: #1b1b1b;
}
/* </style> */





@media (min-width:768px)
{

    #map
    {
        grid-row: 1/2!important;
        grid-column: 1!important;
        width: 66.66vw!important;
        height: 90vh!important;
    }

    .hospital
    {
        grid-row: 1/2!important;
        grid-column: 2!important;
        width: 33vw!important;
        height: 90vh!important;
    }

    .hospitalInfos
    {
        width: 34vw;
    }

    .hospitalInfos > *
    {
        margin: 2vh 0;
        border-color: transparent;
        height: 10vh;
        flex-direction: column;
        align-items: center;

    }


    .hospitalInfos > * >span
    {
        height: 5vh;
        width: 30vw;
        border-left: 0.2vw solid #31394D ;
        border-right: 0.2vw solid #31394D ;
        background-color: white;
        color:#31394D;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .navigation_buttons
    {

        height: 13vh;
        width: 25vw;
        margin: auto;
    }

    .showRoute
    {
        width: 10vw;
        height: 13vh;
    }

    #showRoute
    {
        width:10vw;
        height: 6vh;
    }
    .rate
    {
        width: 5vw;
        height: 13vh;
    }



}
